<!-- Page Title -->
<div class="row">
  <div class="col-md-12">
    <h5 class="page-title">System Settings</h5>
  </div>
</div>
<!-- END Page Title -->

<!-- Content -->
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>

        <form>
          <div class="row">

            <!-- System Settings -->
            <div class="col-sm-12 col-md-6">
              <div class="form-group row">
                <label for="fullname" class="label col-sm-3 col-form-label">Logout from the system after (mins)</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="fullname" placeholder="Fullname">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="username" class="label col-sm-3 col-form-label">Wait time before retry (mins)</label>
                <div class="col-sm-9">
                  <input type="text" nbInput fullWidth id="username" placeholder="Username">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="email" class="label col-sm-3 col-form-label">Unsuccessful Login</label>
                <div class="col-sm-9">
                  <input type="email" nbInput fullWidth id="email" placeholder="Email">
                </div>
              </div>
              
            </div>
            <!-- END System Settings -->

            <!-- Blocked IPs -->
            <div class="col-sm-12 col-md-6">
              
            </div>
            <!-- END Blocked IPs -->
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- END Content -->