<div class="row">
  <div class="col-md-4">
    <nb-card status="success">
      <nb-card-header>Active Races</nb-card-header>
      <nb-card-body><h1>53</h1></nb-card-body>
      <nb-card-footer>
        <a href="/admin/races">View all Races</a>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-md-4">
    <nb-card status="danger">
      <nb-card-header>Active Users</nb-card-header>
      <nb-card-body><h1>1882</h1></nb-card-body>
      <nb-card-footer>
        <a href="/admin/users">Go to User Management page</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card>
      <nb-card-body>Blocked IPs</nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-8">
    <nb-card>
      <nb-card-body>Action Logs</nb-card-body>
    </nb-card>
  </div>
</div>