<!-- Page Title -->
<div class="row">
  <div class="col-md-12">
    <h5 class="page-title">Profile</h5>
  </div>
</div>
<!-- END Page Title -->

<!-- Content -->
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body>

        <form>
          <div class="row">
            <!-- Profile Logo/Avatar -->
            <div class="col-sm-12 col-md-6">
              <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload">
                      <nb-icon icon="edit-2-outline"></nb-icon>
                      Upload Avatar
                    </label>
                </div>
                <div class="avatar-preview">
                  <div id="imagePreview">
                    <nb-icon icon="person-outline"  style="width:100%;height:100%;opacity:.1"></nb-icon>
                  </div>
                </div>
              </div>
            </div>
            <!-- END Profile Logo/Avatar -->

            <!-- Profile Info Details -->
            <div class="col-sm-12 col-md-6 pt-5">
              <div class="form-group row">
                <label for="first_name" class="label col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-6">
                  <input type="text" nbInput fullWidth id="first_name" placeholder="First Name">
                </div>
              </div>

              <div class="form-group row">
                <label for="last_name" class="label col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-6">
                  <input type="text" nbInput fullWidth id="last_name" placeholder="Last Name">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="email" class="label col-sm-3 col-form-label">Email:</label>
                <div class="col-sm-6">
                  <input type="email" nbInput fullWidth id="email" placeholder="Email">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="phone" class="label col-sm-3 col-form-label">Phone:</label>
                <div class="col-sm-6">
                  <input type="text" nbInput fullWidth id="phone" placeholder="Phone">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="user_type" class="label col-sm-3 col-form-label">User Type:</label>
                <div class="col-sm-6">
                  <input type="text" nbInput fullWidth id="user_type" placeholder="User Type">
                </div>
              </div>
            </div>
            <!-- END Profile Info Details -->
          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- END Content -->